:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(7, 68, 82);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form {
    /* display: block; */
    width: 100%;
    margin: 30px 0 20px 0;
}

.input-tarefa {
    font-size: 18px;
    padding: 0 10px;
    height: 40px;
    margin-right: 10px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

.btn-tarefa {
    border: none;
    background: var(--primary-color);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    padding: 10px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: #fff;
    color: var(--primary-color);
}

li {
    margin: 7px 7px;
}

.apagar {
    background: red;
    color: #FFF;
    border: none;
}

button {
    margin: 7px 10px;
}